{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dog Collector</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="py-1 px-1">
            <img src="{% static 'assets/dog_icon.png' %}" alt="site logo" style="max-height: 70px"> 
        </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{% url 'about' %}" class="navbar-item has-text-primary">About</a>
        <a href="{% url 'index' %}" class="navbar-item has-text-primary">View all Dogs</a>
        <a href="{% url 'dogs_create' %}"  class="navbar-item has-text-primary">Add a dog</a>
        <a href="{% url 'toys_index' %}" class="navbar-item has-text-primary">View all toys</a>
        <a href="{% url 'toys_create' %}" class="navbar-item has-text-primary">Add a toy</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <main class="container is-fluid">
    
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">2023 Dog Collector &nbsp;</div>
  </footer>
</body>
</html>